{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}<title>Sistema</title>{% endblock titulo %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/base.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% block content %}
    <!-- O conteúdo das páginas filhas será inserido aqui -->
    {% endblock content %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>