{% extends "objetivos/base1.html" %}

{% block titulo  %}<tilte>Criar Objetivo</tilte>{% endblock titulo %}

{% block content %}
<header><h1>Adicionar tarefas</h1></header>
<main>

    <!-- Exibe mensagens de erro, se houver -->
    {% if messages %}
        <ul style="color: red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <br>
        <label for="campo_nome">Nome:</label>
        <input type="text" name="nome_objetivo" id="campo_nome" placeholder="Digite o nome da tarefa">
        <br>
        <label for="campo_descricao">Descrição:</label>
        <br>
        <br>
        <textarea name="descricao_objetivo" rows="10" cols="40" maxlength="500">{{ descricao_objetivo }}</textarea>
        <br>
        <br>
        <!-- Adicionar o campo de urgência -->
        <label for="campo_urgencia">Urgência (1-3):</label>
        <select name="urgencia" id="campo_urgencia">
            <option value="1" {% if urgencia == '1' %}selected{% endif %}>1 - Baixa</option>
            <option value="2" {% if urgencia == '2' %}selected{% endif %}>2 - Média</option>
            <option value="3" {% if urgencia == '3' %}selected{% endif %}>3 - Alta</option>
        </select>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
    <br>
    <!-- Botão para voltar à página de visualização de objetivos -->
    <a href="{% url 'visualizar_objetivos' %}" style="text-decoration: none; border: 1px solid black; padding: 5px; background-color: lightgray;">Voltar</a>
</main>
{% endblock content %}