{% extends "objetivos/base1.html" %}

{% block titulo %}<title>Criar Objetivo</title>{% endblock titulo %}

{% block content %}
<header><h1>Adicionar tarefas</h1></header>
<main>
    <!-- Exibe mensagens de erro, se houver -->
    {% if messages %}
        <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="campo_nome">Nome:</label>
        <input type="text" name="nome_objetivo" id="campo_nome" placeholder="Digite o nome da tarefa">
        
        <label for="campo_descricao">Descrição:</label>
        <textarea name="descricao_objetivo" id="campo_descricao" rows="10" maxlength="500" placeholder="Descreva sua tarefa aqui">{{ descricao_objetivo }}</textarea>
        
        <!-- Campo de urgência -->
        <label for="campo_urgencia">Urgência (1-3):</label>
        <select name="urgencia" id="campo_urgencia">
            <option value="1" {% if urgencia == '1' %}selected{% endif %}>1 - Baixa</option>
            <option value="2" {% if urgencia == '2' %}selected{% endif %}>2 - Média</option>
            <option value="3" {% if urgencia == '3' %}selected{% endif %}>3 - Alta</option>
        </select>
        
        <button type="submit">Enviar</button>
    </form>
    
    <!-- Botão para voltar à página de visualização de objetivos usando a classe link do base1.html -->
    <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar</a>
</main>
{% endblock content %}