{% extends "objetivos/base1.html" %}

{% block titulo %}<title>Criar Grupo</title>{% endblock titulo %}
{% block content %}
<header><h1>Criar um grupo</h1></header>
<main>
        {% if messages %}
            <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
                {% for message in messages %}
                    {% if message.error %}
                        <li style="color: red; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                    {% else %}
                        <li style="color: green; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="campo_nome_grupo">Nome do grupo:</label>
        <input type="text" name="nome_grupo" id="campo_nome_grupo" placeholder="Digite o nome do seu grupo">
        
        <label for="campo_senha">Senha do grupo:</label>
        <input type="text" name="senha" id="senha" placeholder="Digite a senha do grupo">
                
        <button type="submit">Enviar</button>
    </form>
    
    <!-- Botão para voltar à página de visualização de objetivos usando a classe link do base1.html -->
    <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar</a>
</main>
{% endblock content %}