{% extends "objetivos/base1.html" %}


{% block content %}
       {% if messages %}
            <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
                {% for message in messages %}
                        <li style="color: red; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="campo_nome">Digite o nome da tarefa</label>
    <input type="text"  id="campo_nome" name="nome_tarefa">
    <label for="campo_descricao">Digite a descrição da tarefa</label>
    <textarea name="descricao_tarefa" id="campo_descricao" rows="10" maxlength="500" placeholder="Descreva sua tarefa aqui"></textarea>
    <label for="campo_urgencia">insira a urgência (1-3) da tarefa:</label>
    <select name="urgencia" id="campo_urgencia">
        <option value="1" {% if urgencia == '1' %}selected{% endif %}>1 - Baixa</option>
        <option value="2" {% if urgencia == '2' %}selected{% endif %}>2 - Média</option>
        <option value="3" {% if urgencia == '3' %}selected{% endif %}>3 - Alta</option>
    </select>
    <label for="campo_designado">Digite o nome do designado</label>
   <select name="designado" id="campo_designado">
        {% for participante in participantes %}
            <option value="{{ participante.nome_participantes }}">{{ participante.nome_participantes }}</option>
        {% endfor %}
   </select>
   <button type="submit">Enviar</button>
</form>
<a href="{% url 'visualizar_grupos' grupo %}" class="link">Voltar</a>




{% endblock content %}