{% extends "objetivos/base1.html" %}

{% block titulo %}<title>Editar Tarefa (ADM)</title>{% endblock titulo %}

{% block content %}
<header>
    <h1>Editar Tarefa: {{ tarefa.Nome }}</h1>
    <a href="{% url 'visualizar_grupos' grupo %}" class="link">Voltar</a>
</header>
<main>
    {% if messages %}
        <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="nome_tarefa">Nome da Tarefa</label>
        <input type="text" id="nome_tarefa" name="nome_tarefa" value="{{ tarefa.Nome }}" required><br>

        <label for="descricao_tarefa">Descrição da Tarefa</label>
        <textarea id="descricao_tarefa" name="descricao_tarefa" required>{{ tarefa.Descricao }}</textarea><br>

        <label for="urgencia">Urgência</label>
        <select id="urgencia" name="urgencia" required>
            <option value="1" {% if tarefa.urgencia == 1 %}selected{% endif %}>1 - Baixa</option>
            <option value="2" {% if tarefa.urgencia == 2 %}selected{% endif %}>2 - Média</option>
            <option value="3" {% if tarefa.urgencia == 3 %}selected{% endif %}>3 - Alta</option>
        </select><br>

        <label for="status">Status</label>
        <select id="status" name="status" required>
            <option value="Pendente" {% if tarefa.Status == "Pendente" %}selected{% endif %}>Pendente</option>
            <option value="Em Andamento" {% if tarefa.Status == "Em Andamento" %}selected{% endif %}>Em Andamento</option>
            <option value="Concluída" {% if tarefa.Status == "Concluída" %}selected{% endif %}>Concluída</option>
        </select><br>

        <button type="submit" class="link">Salvar Alterações</button>
    </form>
</main>
{% endblock content %}