{% extends "objetivos/base1.html" %}

{% block titulo %}<title>Editar objetivos</title>{% endblock titulo %}

{% block content %}
<header><h1>Editar tarefas</h1></header>
<main>
    <!-- Adicionar bloco de mensagens para exibir erros -->
    {% if messages %}
        <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="campo_nome">Nome:</label>
        <input type="text" name="nome_objetivo" id="campo_nome" value="{{ objetivo.nome }}" placeholder="Digite o nome da tarefa">
        
        <label for="campo_descricao">Descrição:</label>
        <textarea name="descricao_objetivo" id="campo_descricao" rows="10" maxlength="500" placeholder="Descreva sua tarefa aqui">{{ objetivo.descrição }}</textarea>
        
        <label for="campo_status">Status:</label>
        <select name="status" id="campo_status">
            <option value="pendente" {% if objetivo.status == "pendente" %}selected{% endif %}>Pendente</option>
            <option value="ativa" {% if objetivo.status == "ativa" %}selected{% endif %}>Ativa</option>
            <option value="completa" {% if objetivo.status == "completa" %}selected{% endif %}>Completa</option>
        </select>
        
        <!-- Campo de urgência -->
        <label for="campo_urgencia">Urgência (1-3):</label>
        <select name="urgencia" id="campo_urgencia">
            <option value="1" {% if objetivo.urgencia == 1 %}selected{% endif %}>1 - Baixa</option>
            <option value="2" {% if objetivo.urgencia == 2 %}selected{% endif %}>2 - Média</option>
            <option value="3" {% if objetivo.urgencia == 3 %}selected{% endif %}>3 - Alta</option>
        </select>
        
        <button type="submit">Salvar</button>
    </form>
    
    <!-- Botão para voltar à página de visualização de objetivos -->
    <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar</a>
</main>
{% endblock content %}