{% extends "objetivos/base1.html" %}
<style>
    .Meus_Grupos{
        display:flex;
        padding: 5rem;
        margin: 5%;
        border: 1px solid black ;
    }
</style>
{% block titulo %}<title>Criar Grupo</title>{% endblock titulo %}
{% block content %}
    <header><h1>Meus grupos</h1></header>

        {% if messages %}
            <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
                {% for message in messages %}
                    {% if message.error %}
                        <li style="color: red; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                    {% else %}
                        <li style="color: green; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    
    <div class="Meus_Grupos"> 
        {% for grupo in meu_grupo %}
            
            <p><strong>Nome do grupo:</strong> {{ grupo.Grupos }}</p>
            <a href="{% url 'ver_grupo' grupo.Grupos %}">Visualizar</a>
        {% endfor %}
    </div>  
    
    <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar</a>
{% endblock content %}
