{% extends "objetivos/base1.html" %}



{% block content %}
<header><h1>Entrar em um grupo</h1></header>
<main>
    {% if messages %}
        <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
            {% for message in messages %}
                {% if message.error %}
                    <li style="color: red; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                {% else %}
                    <li style="color: green; padding-left: 20px; margin-bottom: 20px;">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="campo_nome_grupo">Nome do grupo:</label>
        <input type="text" id="campo_nome_grupo" name="nome_do_grupo" placeholder="Digite o nome do grupo">
        <label for="campo_senha">Senha:</label>
        <input type="text" id="campo_senha" name="senha" placeholder="Digite a senha do grupo">
        <button type="submit">Enviar</button>
    </form>
    <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar</a>
</main>
{% endblock content %}