{% extends "objetivos/base1.html" %}
{% block content %}
    <header>
        <h1>OBJETIVOS</h1>
    </header>
    <br>
    <main>
        <a href="{% url 'criar_objetivo' %}" style="text-decoration: none; border: 1px solid black; padding: 5px; background-color: lightgray;">+ Criar Objetivo</a>
        {% for objetivo in objetivos %}
        <div style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
            <p><strong>Tarefa:</strong> {{ objetivo.Nome }}</p>
            <p><strong>Descrição:</strong> {{ objetivo.Descrição }}</p>
            <p><strong>Status:</strong> {{ objetivo.Status }}</p>
            <a href="{% url 'editar_objetivo' objetivo.id %}">Editar</a> | 
            <form method="POST" action="{% url 'deletar_objetivo' objetivo.id %}" style="display:inline;" onsubmit="return confirm('Você tem certeza que deseja deletar este objetivo?');">
                {% csrf_token %}
                <button type="submit">Deletar</button>
            </form>
        </div>
        {% endfor %}
    </main>
    <br>
{% endblock content %}