{% extends "objetivos/base1.html" %}

{% block titulo %}<title>Visualizar Subtarefas</title>{% endblock titulo %}

{% block content %}
    <header>
        <h1>SUBTAREFAS DE: {{ objetivo_principal.nome }}</h1>
    </header>
    
    <main>
        {% if messages %}
            <ul style="color: red; padding-left: 20px; margin-bottom: 20px;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div class="container">
            <a href="{% url 'adicionar_subtarefas' objetivo_principal.id %}" class="link">+ Criar subtarefa</a>
            <a href="{% url 'visualizar_objetivos' %}" class="link">Voltar para tarefas</a>
        </div>
        
        {% if subtarefas %}
            {% for subtarefa in subtarefas %}
            <div class="tarefa">
                <p><strong>Subtarefa:</strong> {{ subtarefa.nome }}</p>
                <p><strong>Descrição:</strong> {{ subtarefa.descrição }}</p>
                <p><strong>Status:</strong> {{ subtarefa.status }}</p>
                <div class="container">
                    <a href="{% url 'editar_subtarefa' objetivo_principal.id subtarefa.id %}" class="link">Editar</a>
                    <form method="POST" action="{% url 'deletar_subtarefa' objetivo_principal.id subtarefa.id %}" 
                          onsubmit="return confirm('Você tem certeza que deseja deletar esta subtarefa?');" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Deletar</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Não há subtarefas cadastradas para este objetivo.</p>
        {% endif %}
    </main>
{% endblock content %}